@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

@font-face {
  font-family: 'Deuschtlander';
  src: url('./assets/Deuschtlander.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alte Haas Grotesk';
  src: url('./assets/AlteHaasGrotesk.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-deuschtlander: "Deuschtlander", serif;
  --font-altehaas: "Alte Haas Grotesk", sans-serif;
}